Repository sibiraj-s/commitlint-config-non-conventional: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path .gitignore, prettier --write

.lintstagedrc.yml:

'*.js': eslint --fix --ignore-path .gitignore
'*.{md,yml}': prettier --write

Add Badges
  README.md
Due: prettier --write

Update devDependencies
  package-lock.json
  package.json
Due: none

Update keywords
  package.json
Due: none

Prefer jest/globals
  package-lock.json
  package.json
  test.js
Due: eslint --fix --ignore-path .gitignore

Update README.md
  README.md
Due: prettier --write

Update package description
  README.md
  package.json
Due: prettier --write

Release commitlint-config-non-conventional v1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update lint-staged config
  .lintstagedrc.yml
Due: prettier --write

Update actions checkout and setup-node to v3
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: prettier --write

Update links in README.md
  README.md
Due: prettier --write

Create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

Delete FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

Update husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

Use nodejs v18 in GitHub actions
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: prettier --write

Bump devDependencies
  package-lock.json
  package.json
Due: none

Add npm package provenance
  .github/workflows/publish.yml
Due: prettier --write

Configure publint
  .husky/pre-push
  package-lock.json
  package.json
Due: none

Use npm staged publishing
  .github/workflows/publish.yml
Due: prettier --write
